$primaryTextColor: #fff;
$secondartTextColor: #000;

// $babyblue: #CAEDFF;
// $violet: #c693f3;
// $yellow: #FBF0B2;
// $pinik: #FFC7EA;

$babyblue: #59D5E0;
$violet: #c693f3;
$yellow: #F5DD61;
$pinik: #F4538A;
$orange: #FAA300;